.noticia{
    display: block;
    justify-items: center;
    justify-content: center;
}
@media screen and (min-width: 870px){
    .noticia div{
        width: 60%;
        padding: 0 20%;
        justify-self: center;
    }
}
@media screen and (max-width: 870px){
    .noticia div{
        width: 100%;
        justify-self: center;
    }
}
section img{
    width: 100%;
}
.contenedor-noticias{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
}
.contenedor-noticias a{
    display: flex;
    align-content: space-between;
    text-align: center;
}
.contenedor-noticias div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    box-sizing: border-box;
    padding: 2%;
}
.contenedor-noticias img{
    border-radius: 4%;
}
.contenedor-noticias p{
    bottom: 0;
}
@media screen and (min-width: 870px){
    .contenedor-noticias{
        width: 80%;
    }
    .contenedor-noticias a{
        width: 47%;
    }
}
@media screen and (max-width: 870px){
    .contenedor-noticias{
        width: 90%;
    }
    .contenedor-noticias a{
        width: 96%;
        margin: 2%;
    }
    .contenedor-noticias div{
        align-content: center;
    }
}