#sponsors a{
    width: 25%;
}
#sponsors img{
    width: 100%;
}
#sponsors div{
    display: flex;
    width: 80%;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
#sponsors img{
    margin-top: 3%;
}