#sponsors a{
    width: 25%;
}
#sponsors img{
    width: 100%;
}
#sponsors div{
    display: flex;
    width: 80%;
    padding: 0 10%;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
#sponsors img{
    margin-top: 3%;
}
#help-us{
    padding: 5% 15%;
    justify-content: center;
}
#help-us h2{
    text-align: center;
    color: darkblue;
    font-size: 3rem;
}
.cry-for-help{
    text-align: center;
    color: darkblue;
}