#sponsors h2{
    color: darkblue;
    font-size: xx-large;
    text-align: center;
}
#sponsors a {
    width: 22%; 
    aspect-ratio: 5/3; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%; 
    padding: 2%;
    transition: transform 0.3s ease-in-out;
}

#sponsors a:hover {
    transform: scale(1.3); 
}

#sponsors img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    box-shadow: 0 0 6px grey;
    border-radius: 10px;
    margin: 0; 
    padding: 2%;
}

#sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sponsors .logos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center;
    width: 80%;
    padding: 0 10%;
    margin-bottom: 2%;
}

#help-us {
    padding: 5% 0%;
    justify-content: center;
}
#help-us h2 {
    text-align: center;
    color: darkblue;
    font-size: 3rem;
}
.cry-for-help {
    text-align: center;
    color: darkblue;
}

@media screen and (max-width: 1200px) {
    #sponsors a {
        width: 31%; 
        margin: 1%;
    }
}

@media screen and (max-width: 870px) {
    #sponsors a {
        width: 48%; 
        margin: 1%;
    }
    
    #sponsors .logos {
        width: 90%;
        padding: 0 5%;
        justify-content: space-around;
    }

    #help-us {
        padding: 0;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 500px) {
    #sponsors a {
        width: 80%; 
        margin: 3% 0;
    }
}