html {
  font-size: clamp(14px, 1.5vw, 18px);
  text-align: justify;
}
body{
    margin: 0%;
    font-family: 'lexend';
    font-size: 1.1rem; /* relativo al tamaño base del html */
}
h1 {
    font-size: 5vw; /* 5% del ancho de la pantalla */
}
h2{
    font-size: 1.5rem;
    margin-bottom: 3%;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover{
    color: black;
}
/* ====================== CABECERA Y LOGO CABECERA ==================*/
header{
    position: sticky;
    z-index: 120;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6% 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px grey;
    transition: all 1s ease;
}
@media screen and (max-width: 870px) {
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
}
header.shrink {
    transition: all 2.5s ease;
    padding: 3% 0;
    justify-content: space-between;
}
.logo {
    position: absolute;
    right: 39.5vw;
    width: 20%;
    align-items: center;
}
header .logo img{
    align-self: center;
    width: 100%;
}

header.shrink .logo{
    width: 9%;
    transition: all 3s ease;
    animation-duration: 3s;
    animation-name: move-logo;
    animation-fill-mode: forwards;
}
header #headerCar{
    position: absolute;
    display: none;
}
header.shrink #headerCar 
{
    position:absolute;
    display: block;
    right: 0vw;
    animation-duration: 3s;
    animation-name: move-car;
    animation-fill-mode: forwards;
}
.carLogo{
    width: 7%;
}
/* Clases para pantallas pequeñas */
.logo-movil {
    position: absolute;
    right: 30.5vw;
    width: 40%;
    align-items: center;
}
header .logo-movil img{
    align-self: center;
    width: 100%;
}

header.shrink .logo-movil{
    width: 20%;
    transition: all 3s ease;
    animation-duration: 3s;
    animation-name: move-logo;
    animation-fill-mode: forwards;
}
.carLogo-movil{
    width: 15%;
}

/* =================== MOVIMIENTO DE LOGO Y COCHE EN PANTALLAS PEQUEÑAS ====================== */
@media screen and (max-width: 870px) {
    @keyframes move-logo {
        from {
            translate: 0vw 0;
        }
    
        to {
            translate: -45vw 0;
        }
    }
    @keyframes move-car {
        from {
            translate: 0vw 0;
        }
    
        to {
            translate: -42vw 0;
        }
    }
}
/* ====================== MOVIMIENTO DE LOGO Y COCHE EN PANTALLAS GRANDES ====================== */
@media screen and (min-width: 871px){
    @keyframes move-logo {
        from {
            translate: 0vw 0;
        }
    
        to {
            translate: -49vw 0;
        }
    }
    @keyframes move-car {
        from {
            translate: 0vw 0;
        }
    
        to {
            translate: -45.8vw 0;
        }
    }
}


/* ==================================== MENÚ DE NAVEGACIÓN =================================== */
nav.menu{
    position: fixed;
    z-index: 90;
    width: 100%;
    display: none;
    text-align: center;
}
nav.menu ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    background-color: white;
    box-shadow: grey 0px 0px 10px;
    display: flex;
    font-weight: bold;
    padding: 0;
    justify-content: center;
}
nav.menu li{
    display: inline;
    margin: 12px;
}
.menu a{
    color: darkblue;
    font-size: 16px;
}
.menu a:hover{
    color: black;
}

/* Menú hamburguesa */
.navbar {
    align-items: center;
    background-color: white;
    padding: 1rem;
    display: none;
}

.hamburger {
    top: 30%;
    z-index: 140;
    width: 5%;
    position: absolute;
    right: 3%;
    justify-self: right;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.hamburger img {
    align-self: center;
    width: 100%;
    display: block;
    z-index: 110;
    display: none;
}
.hamburger-links .nav-links {
    width: 40%;
    position: fixed;
    list-style: none;
    display: none;
    flex-direction: column;
    background-color: darkblue;
    right: 0;
    height: 100%;
    margin: 0;
    padding: 1rem;
    z-index: 90;
    top: 0;
}
header.shrink .navbar img{
    display: block;
}
.hamburger-links .nav-links li a {
    color: white;
    text-decoration: none;
    padding: 1rem 0;
    display: block;
}
.hamburger-links img{
    position: absolute;
    bottom: 10%;
    width: 80%;
    margin-bottom: 10%;
    align-self: center;
    transition: all 2s ease;
}
.hamburger-links .nav-links.show {
    display: flex;
    animation-duration: 2s;
    animation-name: open-hamburger;
    animation-fill-mode: forwards;
}
@keyframes open-hamburger{
    from {
        translate: 40vw 0;
    }

    to {
        translate: 0vw 0;
    }
}
/* Selector de idioma */
#language-select{
    position: absolute;
    right: 15px;
    align-self: center;
    border-style: none;
    color: darkblue;
    background-color: white;
}

/* =============================== PIE DE PÁGINA ================================== */
footer{
    position: relative;
    display: inline-flex;
    background-color: white;
    width: 90%;
    padding: 1% 5%;
    justify-content: center;
    box-shadow: 0 -5px 8px -4px black;
}
.contenido-footer{
    width: 100%;
    color: darkblue;
    justify-content: space-around;
    opacity: 0;
    transform: translateY(0);
    transition: all 1.5s ease;
}
.contenido-footer.visible {
    opacity: 1;
    transform: translateY(0);
}
.pie-pag li{
    display: flex;
    margin: 3% 0;
    align-items: center;
}
#footer-general ul{
    margin-right: 0;
}
.icono-footer{
    width: 25px;
    height: 25px;
    margin-right: 10%;
}
.footer-logo{
    position: absolute;
    width: 9%;
    height: auto;
    left: 2%;
    bottom: 25%;
}
#footer-movil{
    align-items: center;
    justify-content: center;
    padding: 3% 10%;
    flex-direction: column;
}
#footer-movil ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-self: center;
    justify-content: space-between;
}
#footer-movil p{
    text-align: center;
}
#footer-movil .contenido-fmovil{
    display: inline-flex;
    align-items: center;
}
#footer-movil .contenido-fmovil a{
    width: 22%;
    height: 22%;
    align-self: center;
}
#footer-movil .small-logo{
    width: 100%;
    height: 100%;
}

/* ============================= CONTENIDO CENTRAL DE LA PÁGINA ================================= */
section{
    position: relative;
    height: 100%;
    background-color: white;
    justify-content: center;
    overflow: hidden;
}
.blue-article{
    background-color: darkblue;
    color: white;
}
.blue-section{
    background-color: darkblue;
    color: white;
    box-shadow: 0 0 10px darkblue;
}
/* Cambiar paddings de la sección central en función de la pantalla */
@media screen and (max-width: 870px){
    section{
        padding: 0 5%;
        padding-bottom: 7%;
    }
    .blue-article{
        padding: 5%;
    }
    .blue-section{
        /* padding extra de 1% para que no se vea el pixel de mas en noticias del movil */
        padding: 5% 1%;
    }
}
@media screen and (min-width: 871px){
    section{
        padding: 5% 10%;
    }
    .blue-section{
        /* padding extra de 1% para que no se vea el pixel de mas en noticias del movil */
        padding: 5% 11%;
    }
}

/*Boton Azul*/
.btn-azul{
    display: block;
    justify-self: center;
    margin-top: 2%;
    padding: 1%;
    background-color: darkblue;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    z-index: 1000;
    border: none;
}
.btn-azul:hover{
    color: darkblue;
    background-color: white;
}
#createdBy{
    position: relative;
    text-align: center;
    background-color: white;
    color: darkblue;
    font-size: medium;
    box-shadow: 0 0 6px grey;
    padding: 5px;
}
