body{
    margin: 0%;
    font-family: 'lexend';
    font-size: 1.1rem; /* relativo al tamaño base del html */
}
h1 {
    font-size: 5vw; /* 5% del ancho de la pantalla */
}
h2{
    font-size: 1.5rem;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover{
    color: orange;
}
/*CABECERA Y LOGO CABECERA*/
header{
    position: sticky;
    top: 0;
    padding: 3% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /*height: 10%;*/
    background-color: white;
    box-shadow: 0 0 10px grey;
    z-index: 10;
    transition: all 1s ease;
}
header.shrink {
    padding: 1% 5%;
}
  
.logo {
    width: 20%;
    transition: all 1s ease;
}

header.shrink .logo {
    width: 10%;
}

/*MENÚ DE NAVEGACIÓN*/
nav.menu{
    display: flex;
    justify-content: center;
}
nav.menu ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
nav.menu li{
    display: inline;
    margin: 12px;
}
.menu a{
    color: darkblue;
    font-size: 16px;
}
.menu a:hover{
    color: orange;
}

/*PIE DE PÁGINA*/
footer{
    position: relative;
    display: inline-flex;
    background-color: white;
    width: 85%;
    padding: 1% 7.5%;
    justify-content: center;
    box-shadow: 0 0 10px grey;
}
.contenido-footer{
    display: flex;
    width: 100%;
    color: darkblue;
    justify-content: space-around;

    opacity: 0;
    transform: translateY(0);
    transition: all 1.5s ease;
}
.contenido-footer.visible {
    opacity: 1;
    transform: translateY(0);
}
.pie-pag li{
    display: flex;
    margin: 4% 0;
    align-items: center;
}
footer ul{
    margin-right: 4%;
}
.icono-footer{
    width: 25px;
    height: 25px;
    margin-right: 10%;
}
.footer-logo{
    position: absolute;
    width: 9%;
    height: auto;
    left: 2%;
    bottom: 25%;
}

/*CONTENIDO CENTRAL DE LA PÁGINA*/
section{
    position: relative;
    height: 100%;
    margin: 0 7%;
    padding: 5%;
    z-index: 0;
    background-color: white;
    box-shadow: 0px 0 10px grey;
    justify-content: center;
}
#noticias{
    display: flex;
}
#noticias img{
    width: 100%;
}
#noticias div{
    padding: 10px;
}

/*Boton enlace*/
.btn-azul{
    display: block;
    justify-self: center;
    margin-top: 2%;
    padding: 1%;
    background-color: darkblue;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    z-index: 1000;
}
.btn-azul:hover{
    color: darkblue;
    background-color: white;
}

/*Carousel de imagenes*/
.carousel{
    position: relative;
    width: 80%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    justify-self: center;
}

.img-carousel img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-carousel {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-carousel img{
    width: 50px;
}
